:root {

    --color-light-blue: #387E96;
    --color-blue-medium: #065E7C;
    --color-white: #FFFFFF;
    --color-grey: #202024;
    --color-deep-blue: #121214;

    font-family: mulish;
    font-style: var(--color-white);
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;

}

.gatos {
    display: flex;
    flex-direction: row;
    height: 6.25rem;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.legendas {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.legendas h3 {
    margin: 0px;
}

.legendas p {
    margin: 0px;
}

header {
    background-color: var(--color-blue-medium);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

#searchbar {
    background-color: hsla(0, 0%, 100%, 0.2);
    width: 18.75rem;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: none;
    outline: 1rem;
    cursor: text;
}

#searchbar:focus::placeholder {
    color: transparent;

}

label ::placeholder {
    color: #FFFFFF;
}

.img-header{
    border-radius: 1rem;
    width: 30rem;
    height: auto;
}


/* Dispositivos desktop */

@media (min-width: 1025px) {

    header {
        height: 6.125rem;
    }

    header img {
        height: 3.375rem;
        width: 3.375rem;
    }

    #searchbar {
        padding: 0.75rem;
        width: 31.25;
    }

    .main {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }

    .principal {
        width: 87.5rem;
    }

    .img-header {
        width: 32rem;
    }

    main {
        margin-left: 3rem;
        margin-right: 3rem;
        margin-top: 1.5rem;

    }

}

/* Tablets */

@media (min-width: 500px) and (max-width:1024px){
    header {
        height: 6.125rem;
    }
    .img-header{
        width: 23.5rem;
    }

    header img {
        height: 3.375rem;
        width: 3.375rem;
    }

    main {
        margin-left: 3rem;
        margin-right: 3rem;
        margin-top: 1.5rem;

    }

}

/* Dispositivos Moveis | Celulares */

@media (max-width: 500px) {

header {
    height: 6.125rem;
}

header img {
    height: 3.375rem;
    width: 3.375rem;
}
.img-header{
    width: 20rem;
}

#searchbar {
    width: 12rem;
}

.legendas {
    width: 25rem;
}

main {
    margin-left: 2rem;
    margin-right: 1.5rem;
    margin-top: 1rem;
}

}

footer {
    background-color: var(--color-light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.125rem;
}

h4{
    color: var(--color-white);
}

.joia{
    background-color: var(--color-blue-medium);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.75rem;
}

.desjoia{
    background-color: var(--color-blue-medium);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.75rem;
}

.reacoes{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

button{
    background: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

aside{
    margin-bottom: 3rem;
}